
<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <title>MaisonTemperature</title>
    
    <link href="static/style.css" rel="stylesheet"/>
</head>

<body>

<h1>🏠 MaisonTemperature</h1>
<canvas id="temperatureChart"></canvas>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pièce</th>
            <th>Température</th>
            <th>Humidité</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for t in temperatures %}
        <tr>
            <td>{{ t[0] }}</td>
            <td>{{ t[1] }}</td>
            <td>{{ t[2] }} °C</td>
            <td>{{ t[3] }} %</td>
            <td>{{ t[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>


const salon = {{ salon|tojson }};
const chambre = {{ chambre|tojson }};
const cuisine = {{ cuisine|tojson }};


const labels = [];

for (let i = 0; i < salon.length; i++) {
    labels.push("Mesure " + (i + 1));
}

const ctx = document.getElementById("temperatureChart");



new Chart(ctx, {
    type: "line",
    data: {
        labels: labels,
        datasets: [
            {
                label: "Salon",
                data: salon,
                borderColor: "blue",
                fill: false
            },
            {
                label: "Chambre",
                data: chambre,
                borderColor: "red",
                fill: false
            },
            {
                label: "Cuisine",
                data: cuisine,
                borderColor: "green",
                fill: false
            }
        ]
    }
});


</script>


</body>
</html>
