
<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <title>MaisonTemperature</title>
    
    <link href="static/style.css" rel="stylesheet"/>
</head>

<body>

<h1>🏠 MaisonTemperature</h1>


<div>
    <a href="?date={{ previous_day }}">
        ⬅️ Jour précédent
    </a>

    <form method="get" style="display:inline;">
        <input type="date" name="date" value="{{ selected_date }}"
               onchange="this.form.submit()">
    </form>

    <a href="?date={{ next_day }}">
        Jour suivant ➡️
    </a>
</div>

<canvas id="temperatureChart"></canvas>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pièce</th>
            <th>Température</th>
            <th>Humidité</th>
            <th>Date</th>
        </tr>
    </thead>

    <tbody>
        {% for t in temperatures %}
        <tr>
            <td>{{ t[0] }}</td>
            <td>{{ t[1] }}</td>
            <td>{{ t[2] }} °C</td>
            <td>{{ t[3] }} %</td>
            <td>{{ t[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>



const series = {{ series|tojson }};
const labels = {{ labels|tojson }};

const datasets = [];

for (const [piece, valeurs] of Object.entries(series)) {

    datasets.push({
        label: piece,
        data: valeurs,
        fill: false
    });

}

const ctx = document.getElementById("temperatureChart");

new Chart(ctx, {
    type: "line",
    data: {
        labels: labels,
        datasets: datasets
    }
});

</script>


</body>
</html>
